PHOTO_AI_API_URL=http://100.65.83.35:8766
PHOTO_AI_API_TOKEN=CHANGE_ME_SAME_AS_HPSERVER
PHOTO_AI_WORKER_ID=silverbrick-rtx4060
PHOTO_AI_POLL_SECONDS=30
PHOTO_AI_MAX_EDGE=1280
PHOTO_AI_VISION_FALLBACK_MODEL=microsoft/Florence-2-large
